<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Async Table</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vertx/3.5.4/vertx-eventbus.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.0/mustache.js"></script>
  <script type="text/html" id="player-list-template">
    {{#players}}
    <tr>
      <td>{{name}}</td>
      <td>{{points}}</td>
    </tr>
    {{/players}}
  </script>
</head>

<body>
<div class="container">
  <div class="jumbotron">
    <h1>Async Data example!</h1>
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Input</h3>
          </div>
          <div class="panel-body">
            <form class="">
              <div class="form-group">
                <label for="name">Your Name:</label>
                <input class="form-control" id="name" type="text">
              </div>
              <div class="form-group">
                <label for="points">Points:</label>
                <input class="form-control" id="points" type="text">
              </div>
              <input type="button" class="btn btn-primary" onclick="ping()" value="Bet">
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Table</h3>
          </div>
          <div class="panel-body">
            <table class="table" style="margin: 20px">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Points</th>
              </tr>
              </thead>
              <tbody id="player-list">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="main.js"></script>
</body>
</html>
